<!DOCTYPE html>
<html>
<head>
	<title>assassins creed изгой</title>
</head>
<body>
<h1 style="position: relative;text-align:  center; "> игры для xbox 360</h1>
 <h2 style="position: relative;text-align:  center; ">ASSASSINS CREED ИЗГОЙ </h2>
  <h2 style="position: relative;text-align:  center; ">25p </h2>
 <img style="position: relative;width: 300px;height: 500px;left: 38%" src="http://gamecoast.by/images/catalog/microsoft-xbox-360/gamecoast.by/xbox-360-assassin-s-creed--%D0%B8%D0%B7%D0%B3%D0%BE%D0%B9--rogue-/-1226732397.jpg">
 <p><big>
XVIII век, Северная Америка. Среди хаоса и насилия Североамериканской семилетней войны молодой и отважный ассасин Шэй Патрик Кормак подвергается идейным метаморфозам. После опасной миссии, которая заканчивается трагедий, Шэй разочаровывается в ордене ассасинов и не желает более состоять в их Братстве.

Подвергнутый смертельной опасности и отвергнутый теми, кого он некогда считал своими братьями, Шэй Патрик Кормак отправляется в совершенно новое приключение. Уничтожая всех тех, кто его предал, он становится одним из самых опасных охотников за ассасинами.
<br><br>
Assassin’s Creed: Rogue – это самая мрачная глава в истории Assassin’s Creed. Станьте свидетелем превращения главного героя из убеждённого ассасина в жестокого охотника за ними. Следуйте вашему собственному кредо и отправляйтесь в захватывающее путешествие по просторам северной Америки, кварталам Нью-Йорка, долинам бурных рек и холодным атлантическим водам.

Теперь ваша цель – уничтожить Ассасинов!

Впервые в истории серии Assassin’s Creed вы станете на сторону тамплиеров. Главный герой по-прежнему владеет оружием и навыками мастера-ассасина, однако теперь он получит и совершенно новое снаряжение. Используйте смертоносную винтовку Шэя как в ближнем, так и в дальнем бою. Отвлекайте противников или безжалостно расправляйтесь с ними, используя различные боеприпасы, в числе которых разнообразные пули, снаряды и гранаты.
<br><br>
Обновленное орлиное зрение поможет вам уходить от преследования, контролировать окрестности и вычислять ассасинов, притаившихся в тени, на крышах или скрывающихся в толпе.

Бороздите просторы Северной Атлантики и путешествуйте по узким рекам материка на корабле «Морриган». Обновленный морской геймплей откроет вам массу возможностей: поджигайте вражеские корабли с помощью горящего масла, без промаха разите абордажные команды из скорострельного ружья Пакла, ищите укромные места, где можно спрятаться от преследователей во время морских сражений.
<br><br>
Исследуйте три уникальные зоны, составляющие огромный игровой мир: изобилующую величественными айсбергами северную часть Атлантического океана, долины рек, где вам придется перемещаться как по воде, так и по суше, и Нью-Йорк, тщательно воссозданный на основе документальных описаний XVIII века.</big></p>
<a href="file:///C:/Users/%D0%B0%D0%B4%D0%BC%D0%B8%D0%BD/Desktop/%D1%81%D0%B0%D0%B9%D1%82/img/assassins%20creed%204.html">НАЗАД</a>
<a style="position: relative;left: 90%" href="file:///C:/Users/%D0%B0%D0%B4%D0%BC%D0%B8%D0%BD/Desktop/%D1%81%D0%B0%D0%B9%D1%82/img/call%20of%20duty%20ghosts.html">ВПЕРЁД </a>

<a style="position: relative;left: 38%"  href="https://vk.com/id548228719">BK </a> <p><big>+375292459132 ВАЙБЕР</big></p>
 <br><br>

</body>
</html>